<nav class="{{ nav_class }}">
    <ul>
        <li><a href="#" class="{{ nav_class_item }} {{ nav_class_item_active }}">home</a></li>
        <li><a href="#" class="{{ nav_class_item }}">about us</a></li>
        <li><a href="#" class="{{ nav_class_item }}">what we do</a></li>
        <li><a href="#" class="{{ nav_class_item }}">meet the team</a></li>
        <li><a href="#" class="{{ nav_class_item }}">our work</a></li>
        <li><a href="#" class="{{ nav_class_item }}">get in touch</a></li>
    </ul>
</nav>
{% set nav_class='' %}
{% set nav_class_item='' %}
{% set nav_class_item_active='' %}
